<div class="dialog-container">
    <!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
    <h2 class="dialog-title sb-color-primary" *ngIf="secondPage">Chapter: {{chapterTilte}}</h2>
    <h2 class="dialog-title sb-color-primary" *ngIf="thirdPage">{{chapterTilte}}</h2>
    <h2 class="dialog-title sb-color-primary" *ngIf="firstPage" >Hi {{userName}}, What Chapter Are You Teaching
        Today !!</h2>
    <span class="close-icon" (click)="closeDialog()">&#10005;</span>
    <div #scrollContainer mat-dialog-content class="layout-mat-dialog-content">

        <div *ngIf="firstPage">
            <!-- <p class="dialog-content"></p> -->
            <div class="w-75 text-center m-auto">
                <mat-form-field class="w-100">
                    <mat-label>Select an Chapter</mat-label>
                    <mat-select [(ngModel)]="selectedOption">
                        <mat-option *ngFor="let option of options" [value]="option.name">{{ option.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div  *ngIf="conversion.length>0 && thirdPage">
            <div *ngFor="let data of conversion" class="container" class="content">
                <div class="question">{{ data.question }}</div>
                <pre class="answ">{{ data.response }}</pre>
            </div>
            <div class="description">
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="layout-mat-dialog-actions">
        <div *ngIf="!isLoading" class="loader">
            <figure>
                <div class="dot white"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </figure>
        </div>
        <button *ngIf="firstPage" class="sb-btn sb-btn-primary sb-btn-normal m-auto"
            (click)="onSubmit(selectedOption)">Next</button>
        <div class="button-container m-auto" *ngIf="secondPage">
            <button class="sb-btn sb-btn-primary sb-btn-normal d-flex flex-ai-center"
                (click)="onFeatureClick('Quiz')"><mat-icon>quiz</mat-icon> Quiz</button>
            <button class="sb-btn sb-btn-primary sb-btn-normal d-flex flex-ai-center"
                (click)="onFeatureClick('Summary')">Chapter Summary</button>
            <button class="sb-btn sb-btn-primary sb-btn-normal d-flex flex-ai-center"
                (click)="onFeatureClick('Material')">Teaching Aid</button>
            <div class="search-bar">
                <input type="text" placeholder="Learn More.." [(ngModel)]="searchQuery">
                <button *ngIf="searchQuery" (click)="searchBasedQuery()">></button>
            </div>
        </div>
        <div class="button-container m-auto" *ngIf="thirdPage">
            <button class="sb-btn sb-btn-primary sb-btn-normal d-flex flex-ai-center"
                (click)="onFeatureClick('Quiz')"><mat-icon>quiz</mat-icon> Quiz</button>
            <button class="sb-btn sb-btn-primary sb-btn-normal d-flex flex-ai-center"
                (click)="onFeatureClick('Summary')">Chapter Summary</button>
            <button class="sb-btn sb-btn-primary sb-btn-normal d-flex flex-ai-center"
                (click)="onFeatureClick('Material')">Teaching Aid</button>
            <div class="search-bar">
                <input type="text" placeholder="Learn More.." [(ngModel)]="searchQuery">
                <button *ngIf="searchQuery" (click)="searchBasedQuery()">></button>
            </div>

        </div>
    </div>
</div>